# Core functionality - changes here should be rare!
/src/app.py                   @eneri86
/src/backend/database.py      @eneri86
/src/backend/routers/auth.py  @eneri86

# The frontend will need refactored soon to be more object oriented.
/src/static/   @eneri86
